.btn {
  $btn-height: 3rem;
  // desired height - paddings - borders
  line-height: $btn-height - (2 * 0.5rem);
  padding: 0.4rem 1.2rem;
  border-width: 0.1rem;
  text-decoration: none;
  &.large {
    $btn-height: 4rem;
    line-height: $btn-height - (2 * 0.5rem);
    padding: 0.4rem 1.8rem;
    border-width: 0.1rem;
    font-size: 1.6rem;
  }
}
