<div class="playlist-main-info" ng-class="::{ 'with-image': vm.playlist.images && vm.playlist.images.length }">
  <img class="playlist-image" ng-if="vm.playlist.images[0]" ng-src="{{ ::vm.playlist.images[0].url }}" alt="Image {{ vm.playlist.name }}" />
  <h3 class="playlist-name">{{ ::vm.playlist.name }}</h3>
  <span class="playlist-owner">Owner: {{ ::vm.playlist.owner.id }}</span>
  <a class="playlist-refresh" ng-if="!vm.loadingProgress" ng-click="vm.refreshTracks(vm.playlist)" href="javascript:void(0)">Refresh</a>
  <span class="playlist-is-collaborative" ng-if="vm.playlist.collaborative">Collaborative<i class="sp-icon sp-icon-ok"></i></span>
  <span class="playlist-is-public" ng-if="vm.playlist.public">Public<i class="sp-icon sp-icon-ok"></i></span>
  <span class="playlist-tracks-total" ng-if="vm.playlist.tracks.total">{{ vm.trackItems.length }} Tracks</span>
  <strong class="loading-tracks-info" ng-if="vm.loadingProgress">Loading tracks ({{ vm.loadingProgress.current }} out of {{ vm.loadingProgress.total }})</strong>
</div>
