<div class="modal-header">
  <h3 class="modal-title">Select playlist</h3>
</div>
<div class="modal-body replace-tracks-modal">
  <select name="selectedPlaylist" id="selected-playlist" ng-options="item as item.name for item in vm.playlists track by item.id" ng-model="vm.selectedPlaylist">
  </select>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="vm.select(vm.selectedPlaylist)">Select</button>
  <button class="btn btn-warning" ng-click="vm.close()">Close</button>
</div>