@import 'variables';

html {
  font-size: 62.5%;
  font-family: $font-family;
  color: $font-color;
}

body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
