// layout widths
$max-content-width: 1280px;
$min-content-width: 720px;
$sidebar-width: 280px;
$header-height: 6rem;
header {
  @include border-bottom(0.1rem);
  position: fixed;
  background-color: #fff;
  width: 100%;
  left: 0;
  top: 0;
  // header-height - border-bottom-width
  line-height: $header-height - 0.1rem;
  font-size: 2rem;
  overflow: auto;
  .container {
    max-width: $max-content-width;
    min-width: $min-content-width;
    margin: 0 auto;
    position: relative;
    a {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.5rem;
    }
  }
}
main {
  background-color: #fff;
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.main-content {
  max-width: $max-content-width;
  min-width: $min-content-width;
  margin: 0 auto;
  height: 100%;
}
