// colors
$border-color: #ccc !default;
$font-color: #333 !default;
// borders
@mixin border($width: 1px, $style: solid, $color: $border-color) {
  border: $width $style $border-color;
}
@mixin border-top($width: 1px, $style: solid, $color: $border-color) {
  border-top: $width $style $border-color;
}
@mixin border-bottom($width: 1px, $style: solid, $color: $border-color) {
  border-bottom: $width $style $border-color;
}
@mixin border-left($width: 1px, $style: solid, $color: $border-color) {
  border-left: $width $style $border-color;
}
@mixin border-right($width: 1px, $style: solid, $color: $border-color) {
  border-right: $width $style $border-color;
}
// text-overflow
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}