@font-face {
  font-family: 'spotify-playlister';
  src: url('../font/spotify-playlister.eot?50563866');
  src: url('../font/spotify-playlister.eot?50563866#iefix') format('embedded-opentype'),
       url('../font/spotify-playlister.woff?50563866') format('woff'),
       url('../font/spotify-playlister.ttf?50563866') format('truetype'),
       url('../font/spotify-playlister.svg?50563866#spotify-playlister') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'spotify-playlister';
    src: url('../font/spotify-playlister.svg?50563866#spotify-playlister') format('svg');
  }
}
*/
 
 [class^="sp-icon-"]:before, [class*=" sp-icon-"]:before {
  font-family: "spotify-playlister";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.sp-icon-ok:before { content: '\e800'; } /* '' */
.sp-icon-download:before { content: '\e801'; } /* '' */
.sp-icon-spin4:before { content: '\e802'; } /* '' */
.sp-icon-left-open-big:before { content: '\e803'; } /* '' */
.sp-icon-right-open-big:before { content: '\e804'; } /* '' */