<h2>Playlists</h2>

<span>User: {{ profile.id }} {{ profile.display_name }} ({{ profile.email }})</span>

<ul ng-repeat="playlist in playlists.items">
  <li>
    <input type="checkbox" ng-click="selectPlaylist(selected, playlist)">
    <span>{{ playlist.name }}</span>
  </li>
</ul>

<button ng-click="findPlaylistDuplicates(selected)">Find duplicates</button>
<button ng-click="comparePlaylists(selected)">Compare playlists</button>
<button ng-click="mergePlaylists(selected)">Merge playlists</button>

<div ng-if="duplicates.ids.length">
  <strong>Duplicate IDs:</strong>
  <ul>
    <li ng-repeat="pair in duplicates.ids">
      {{ pair[0] | track }} vs {{ pair | track }}
    </li>
  </ul>
</div>
<div ng-if="duplicates.titles.length">
  <strong>Duplicate titles:</strong>
  <ul>
    <li ng-repeat="title in duplicates.titles">
      {{ title.key }} - {{ title.name }} ({{ title.filtered.join(', ') }})
    </li>
  </ul>
</div>
<div ng-if="commonTracks.length">
  <strong>Common tracks:</strong>
  <ul>
    <li ng-repeat="commonTrack in commonTracks">
      {{ commonTrack }}
    </li>
  </ul>
</div>
<div ng-if="similarTracks.length">
  <strong>Similar tracks:</strong>
  <ul>
    <li ng-repeat="similarTrack in similarTracks">
      {{ similarTrack }}
    </li>
  </ul>
</div>