<div class="playlists">
  <div class="playlists-header">
    <span class="user-info">{{ ::vm.profile.id }} {{ ::vm.profile.display_name }} ({{ ::vm.profile.email }})</span>
  </div>

  <div class="playlist-sidebar" scrollbar>
    <ul class="playlist-list">
      <li ng-repeat="playlist in vm.playlists.items" class="playlist-item" ng-class="::{ 'owned-by-user': playlist.owner.id === vm.profile.id }">
        <a class="playlist-name" ui-sref="playlists.detail({ userId: playlist.owner.id, id: playlist.id })">{{ ::playlist.name }}</a>
        <span class="playlist-tracks-badge">{{ playlist.tracks.total }}</span>
      </li>
    </ul>
  </div>
  <div class="playlist-detail" ui-view=""></div>
</div>
