<div class="modal-header">
  <h3 class="modal-title">Merge</h3>
</div>
<div class="modal-body">
  {{ fromPlaylist.name }} ({{ fromTracks.length }}) -> {{ toPlaylist.name }} ({{ toTracks.length }})

  <input type="number" ng-model="lastXDays">

  <ul>
    <li ng-repeat="item in getUniqueTracks(filteredFromTracks) | limitTo:50">
      <input type="checkbox" ng-model="item.selected" ng-init="item.selected = true;"> {{ item.track | track }}
      <a href="javascript:void(0);" ng-if="item.track.isCommon" ng-click="item.userOverride = false; item.selected = false;">[duplicate]</a>
    </li>
  </ul>
  <button ng-click="addSelectedToPlaylist()">Add to playlist</button>
  <hr>
  <ul>
    <li ng-repeat="item in getDuplicateTracks(filteredFromTracks) | limitTo:50">{{ item.track | track }}
      <a href="javascript:void(0);" ng-click="item.userOverride = true; item.selected = true;">[duplicate]</a>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
