<div class="modal-header">
  <h3 class="modal-title">Find replacements - {{:: vm.playlist.name }} ({{ vm.currentIndex + 1 }} of {{:: vm.trackItems.length }})</h3>
</div>
<div class="modal-body replace-tracks-modal">
  <div class="current-track-item-wrapper">
    <button class="btn btn-default previous-button" ng-click="vm.previous()"><i class="sp-icon sp-icon-left-open-big"></i></button>
    <span class="current-track-name"><i class="sp-icon sp-icon-download" ng-if="vm.currentTrackItem.is_local"></i> {{ vm.currentTrackItem.track | track }}</span>
    <button class="btn btn-default next-button" ng-click="vm.next()"><i class="sp-icon sp-icon-right-open-big"></i></button>
  </div>
  <div ui-slider="vm.sliderOptions" ng-model="vm.currentIndex" max="{{:: vm.trackItems.length - 1 }}" min="0"></div>
  <div class="replace-toolbar">
    <div class="annoucement" ng-if="!vm.currentTrackItem.keep">
      Current track will be removed and replaced by selected track(s).
      <a href="javacript:void(0)" ng-click="vm.currentTrackItem.keep = true">Keep track</a>
    </div>
    <div class="annoucement" ng-if="vm.currentTrackItem.keep">
      Current track will be kept in the current playlist.
      <a href="javascript:void(0)" ng-click="vm.currentTrackItem.keep = false">Remove from playlist during replacing.</a>
    </div>
    <div class="replace-search-box">
      <label for="replace-search-string">Search string:</label>
      <input type="text" id="replace-search-string" ng-model="vm.searchString" ng-model-options="{ debounce: 300 }" />
    </div>
  </div>

  <ul class="replacements">
    <li class="no-replacements" ng-if="!vm.possibleReplacements.length">No suitable tracks found. Try change search string.</li>
    <li class="replacement-item" ng-class="::{ 'not-available': vm.isAvailableForMarket(replacement) }" ng-repeat="replacement in vm.possibleReplacements">
      <div class="replacement-column selected">
        <input type="checkbox" ng-model="replacement.selected" />
      </div>
      <div class="replacement-column artist">{{:: replacement.artists | artists }}</div>
      <div class="replacement-column title">{{:: replacement.name }}</div>
      <div class="replacement-column album">{{:: replacement.album.name }}</div>
      <div class="replacement-column duration-diff" ng-init="diff = vm.getDurationDiff(replacement, vm.currentTrackItem.track)" ng-class="vm.getDurationDiffClass(diff)">
        {{:: diff }}s
      </div>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="vm.save()">Save</button>
  <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>
