.replace-tracks-modal {
  .current-track-item-wrapper {
    @include ellipsis;
    text-align: center;
    line-height: 3rem;
    font-size: 2.4rem;
    position: relative;
    padding: 0 40px;
    .previous-button {
      position: absolute;
      left: 0;
    }
    .current-track-name {
      .sp-icon {
        font-size: 1.6rem;
      }
    }
    .next-button {
      position: absolute;
      right: 0;
    }
  }
  .ui-slider {
    background-color: #ccc;
    margin: 1rem 0;
    .ui-slider-handle {
      background-color: #aaa;
    }
  }
  .replace-toolbar {
    line-height: 2rem;
    font-size: 1.4rem;
    .annoucement {
      text-align: center;
      color: #800;
    }
    .replace-search-box {
      margin-top: 1rem;
      text-align: right;
      input {
        @include border;
        border-radius: 2px;
        padding: 5px 10px;
      }
    }
  }
  .replacements {
    @include border-top;
    padding: 0;
    list-style: none;
    margin: 2rem -15px 0;
    height: 521px;
    overflow: auto;
  }
  .no-replacements {
    @include border-bottom;
    font-size: 2rem;
    line-height: 6rem;
    text-align: center;
  }
  .replacement-item {
    @include border-bottom;
    @include clearfix;
    line-height: 2.5rem;
    &.not-available {
      .replacement-column {
        opacity: 0.5;
      }
    }
  }
  .replacement-column {
    @include ellipsis;
    float: left;
    &.selected {
      width: 5%;
      text-align: center;
      input {
        vertical-align: middle;
      }
    }
    &.artist,
    &.title,
    &.album {
      width: 30%;
    }
    &.duration-diff {
      width: 5%;
    }
  }
  .duration-diff {
    &.diff-exact {
      color: #0c0;
    }
    &.diff-very-similiar {
      color: #080;
    }
    &.diff-similiar {
      color: #800;
    }
    &.diff {
      color: #c00;
    }
  }
}
