<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spotify playlister</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-app="playlister">
  <header ng-controller="LogoutController">
    <h1>Spotify playlister</h1>
    <a href="javascript:void(0);" ng-click="logout()" ng-if="isLoggedIn()">Logout</a>
  </header>

  <div ui-view=""></div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/playlists.js"></script>
  <script src="scripts/auth.js"></script>
  <script src="scripts/filters.js"></script>
  <script src="scripts/spotify-credentials.js"></script>
  <script src="scripts/spotify-credentials-debug.js"></script>
  <script src="scripts/spotify-resources.js"></script>
</body>

</html>