<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spotify playlister</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-app="playlister" class="container">
  <header ng-controller="LogoutController">
    <h1>Spotify playlister</h1>
    <a href="javascript:void(0);" ng-click="logout()" ng-if="isLoggedIn()">Logout</a>
  </header>

  <div ui-view=""></div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- inject:js -->
  <script src="/src/scripts/app.js"></script>
  <script src="/src/scripts/filters/artists.js"></script>
  <script src="/src/scripts/filters/filters.js"></script>
  <script src="/src/scripts/filters/tracks.js"></script>
  <script src="/src/scripts/resources/playlist.js"></script>
  <script src="/src/scripts/resources/resources.js"></script>
  <script src="/src/scripts/resources/user.js"></script>
  <script src="/src/scripts/services/auth.js"></script>
  <script src="/src/scripts/services/services.js"></script>
  <script src="/src/scripts/services/spotify-credentials-debug.js"></script>
  <script src="/src/scripts/services/spotify-playlist-tracks.js"></script>
  <script src="/src/scripts/services/spotify-tracks-cache.js"></script>
  <script src="/src/scripts/services/spotify.js"></script>
  <script src="/src/scripts/services/user-settings.js"></script>
  <script src="/src/scripts/states/states.js"></script>
  <script src="/src/scripts/states/login/login.js"></script>
  <script src="/src/scripts/states/playlists/playlists-controller.js"></script>
  <script src="/src/scripts/states/playlists/playlists.js"></script>
  <!-- endinject -->
</body>

</html>