<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spotify playlister</title>
  <link rel="stylesheet" href="/styles/main.css" />
</head>

<body ng-app="playlister" class="container" ng-csp>
  <header ng-controller="LogoutController as vm">
    <div class="container">
      <h1>Spotify playlister</h1>
      <a href="javascript:void(0);" ng-click="vm.logout()" ng-if="vm.isLoggedIn()">Logout</a>
    </div>
  </header>
  <main>
    <div class="main-content" ui-view=""></div>
  </main>

  <!-- build:js-vendor -->
  <!-- vendor:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/jquery-ui/ui/core.js"></script>
  <script src="/bower_components/jquery-ui/ui/widget.js"></script>
  <script src="/bower_components/jquery-ui/ui/mouse.js"></script>
  <script src="/bower_components/jquery-ui/ui/slider.js"></script>
  <script src="/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
  <script src="/bower_components/sweetalert/dist/sweetalert-dev.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bower_components/angular-ui-slider/src/slider.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endinject -->
  <!-- endbuild -->
  <!-- build:js-app -->
  <script src="/scripts/all.js"></script>
  <!-- endbuild -->
  <!-- build:js-templates -->
  <!-- endbuild -->
</body>

</html>
