<div class="modal-header">
  <h3 class="modal-title">Duplicates for {{:: vm.playlist.name }} ({{ vm.trackItems.length }} tracks)</h3>
</div>
<div class="modal-body replace-tracks-modal">
  <section ng-if="::vm.duplicates.ids.length" class="duplicates-section">
    <h3 class="duplicates-header">Tracks with same ID ({{:: vm.duplicates.ids.length}})</h3>
    <ul class="duplicates">
      <li class="duplicate" ng-repeat="duplicate in ::vm.duplicates.ids">
        <span class="track original-track" ng-class="{ 'track-removed': duplicate.a.removed }">{{:: duplicate.a.item.track | track }}</span>
        <a href="javascript:void(0)" ng-click="vm.removeDuplicate(duplicate.a)" ng-if="!duplicate.a.removed">Remove track</a>
      </li>
    </ul>
  </section>
  <section ng-if="::vm.duplicates.titles.length" class="duplicates-section">
    <h3 class="duplicates-header">Tracks with same title ({{:: vm.duplicates.titles.length}})</h3>
    <ul class="duplicates">
      <li class="duplicate two-tracks-duplicate" ng-repeat="duplicate in vm.duplicates.titles">
        <div>
          <span class="track original-track" ng-class="{ 'track-removed': duplicate.a.removed }">{{:: duplicate.a.item.track | track }}</span>
          <a href="javascript:void(0)" ng-click="vm.removeDuplicate(duplicate.a)" ng-if="!duplicate.a.removed">Remove track</a>
        </div>
        <div>
          <span class="track duplicate-track" ng-class="{ 'track-removed': duplicate.b.removed }">{{:: duplicate.b.item.track | track }}</span>
          <a href="javascript:void(0)" ng-click="vm.removeDuplicate(duplicate.b)" ng-if="!duplicate.b.removed">Remove track</a>
        </div>
      </li>
    </ul>
  </section>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="vm.close()">Close</button>
</div>